$tabBarHeight: 114px;

@mixin pagePBFn($num: 0) {
  padding-bottom: calc(#{$tabBarHeight} + constant(safe-area-inset-bottom) + #{$num});
  padding-bottom: calc(#{$tabBarHeight} + env(safe-area-inset-bottom) + #{$num});
}
.test{
  font-size: 20px;
  color: aquamarine;
}
